<div class="container-fluid">
  <div class="row">
    <div class="col diet-prt">
      <h1>I want to make my own diet plan</h1>
      <a href="">
      <figure>
        <img src="../assets/images/food.jpg" />
        <figcaption> Go to Food</figcaption>
      </figure>
    </a>
      <!-- <a class="btn btn-success btn-sm">
        <img src="../assets/images/food.jpg" />
        Go to Diet
      </a> -->
    </div>
    <div class="col workout-prt">
      <h1>I want to make my own workout plan</h1>
      <figure>
        <img src="../assets/images/swim1.jpg" />
        <figcaption> Go to Workout</figcaption>
      </figure>
      <!-- <a class="btn btn-primary">
      <img src="../assets/images/swim1.jpg" />
        Go to Workout
      </a> -->
    </div>
  </div>
</div>